<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023204254419-5a3bhk68bqqccgctl6321djusajkffs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023204254419-5a3bhk68bqqccgctl6321djusajkffs8</string>
	<key>API_KEY</key>
	<string>AIzaSyDhGZ2wdeNtYONMmVp1O4Z_myvBDpcpWA8</string>
	<key>GCM_SENDER_ID</key>
	<string>1023204254419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yxgg.ToDoDoo</string>
	<key>PROJECT_ID</key>
	<string>tododoo-47845</string>
	<key>STORAGE_BUCKET</key>
	<string>tododoo-47845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023204254419:ios:cdce42fd59a75e2689ea26</string>
</dict>
</plist>